.conthistiryadmin {
  width: 1200px;
  height: 610px;
  background-color: #ffd700;
  position: absolute;
  top: 0px;
  left: 100px;
}
.divwaiterhistory {
  width: 800px;
  overflow: auto;
  height: 400px;
  display: flex;

  flex-flow: row wrap;
  margin-left: 70px;
  margin-top: 40px;
}
.element {
  margin: 20px;
  width: 150px;
  height: 40px;
  background-color: #0f0c29;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
.element:hover {
  color: #ffd700;
}
