<div class="divadmin">
  <button (click)="goback()" class="backadmin">Go back</button>
  <div class="loginadmin">
    <img src="assets/logo.jpg" class="imgs" alt="img" />
    <input placeholder="username" [(ngModel)]="usrname" class="inpadmin" />
    <input
      placeholder="password"
      type="password"
      [(ngModel)]="password"
      class="inpass"
    />
    <p style="color: red; position: relative; top: 140px; left: 120px">
      {{ Error }}
    </p>
    <input type="submit" (click)="click()" title="Log in" class="submitadmin" />
  </div>
</div>
